.home {
    padding: 20px;
    }
    
    .home .text-wrapper {
      color: #F8F8F8;
      font-family: "Baumans", system-ui;
      font-size: 64px;
      font-weight: 400;
      letter-spacing: -0.1em;
      line-height: 1.2;
    }
    
    .home #greenButton {
      background-color: #c8f560;
      border-radius: 8px;
      box-shadow: 0px 2px 4.6px 5px #00000040;
      height: 64px;
      left: 486px;
      width: 227px;
    }
    
    .home .text-wrapper-2 {
      color: #000000cc;
      font-family: "Baumans", system-ui;
      font-size: 20px;
      font-weight: 400;
      white-space: nowrap;
    }
    
    .home .content {
      color: #F8F8F8;
      font-family: "Baumans", system-ui;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.6;
      text-align: justify;
    }